* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.head-bar {
  text-shadow: 2px 2px black;
}

.low {
  background-color: rgb(43, 223, 43);
}

.moderate {
  background-color: yellow;
}

.high {
  background-color: orange;
}

.very-high {
  background-color: rgb(203, 64, 203);
}

.extreme {
  background-color: rgb(164, 95, 164);
}

.history-list:hover {
  background-color: cadetblue;
  border: black;
  color: white;
  font-weight: bolder;
  text-shadow: black 1px 2px;
  cursor: default;
}
